:root {
	/* color pallete */
	--pallete1: #FF2E63;
	--pallete2: #08D9D6;
	--pallete3: #252A34;
	--pallete4: #EAEAEA;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Scheherazade New', serif;
	color: var(--pallete3);
}

/* container atas */
input#nomor.searchnomor {
	width: 75%;
	outline: none;
	border: none;
}

.col-md.text-center {
	display: inline;
}

.kode {
	background-color: white;
	padding: min(1.5%, 1.94%);
	border-start-start-radius: .4rem;
	border-end-start-radius: .4rem;
}

.btn-cari {
	border-top-right-radius: .4rem;
	border-bottom-right-radius: .4rem;
	padding: max(18px, 10px);
	background-color: var(--pallete2);
	/* background-image: url('../img/search_white_48dp.svg');
	background-repeat: no-repeat; */
	outline: none;
	border: none;
}

.btn-cari:hover {
	background-color: #19bebe;
}

.contoh {
	color: var(--pallete4);
}

.container.text-center {
	margin-top: 7%;
}

/* end */

.lihat-selengkapnya-home{
	margin-top: max(28%, 10px);
}

/* bg ker tambahkan kontak */
.tambahkan-nomor{
	margin: auto;
}

.col-6.rounded-pill.p-1 {
	background-color: var(--pallete2);
	color: var(--pallete3);
}

.btn.btn-primary.rounded-pill{
	background-color: var(--pallete1);
	color: var(--pallete4);
}

/* page tambah */
input[type="file"] {
	margin-bottom: 60px;
}

#bukti1,
#bukti2,
#bukti3 {
	margin-top: auto;
	margin-bottom: auto;
}

.row.justify-content-center.border {
	margin-top: 17vh;
}

img.bukti.col-7 {
	max-width: 30.733333%;
}

/* end */

/* container hasil */
div.container.border.border-primary {
	margin-top: 8.5%;
	width: 75%;
}

div.col-7.text-left {
	border: 1px;
}

img.profil {
	margin-top: 20px;
	height: 64px;
}

div.col-7.text-left .keterangan {
	font-size: 1rem;
}

.row.row-cols-2.bukti-home, .bukti-semua-pelapor{
	max-width: 35%;
	cursor:zoom-in;
}

.bukti-pelapor {
	max-width: 27%;
	cursor:zoom-in;
}

img.size-bukti-home {
	display: flex;
	justify-content: end;
	padding: 1%;
	margin-top: .6%;
	width: 25%;
}

/* end */

/* page nomorditemukan */
div.user-nomorditemukan{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.container.pelapor,
.container-fluid.border.border-primary.nomor_ditemukan {
	/* background-color: var(--pallete1); */
	padding: 2%;
}

.container.pelapor {
	width: 80%;
	margin-top: 5px;
}

.bg-pelapor{
	background-color: rgb(8, 217, 214, .1);
}

.nomor-telepon-home{
	font-size: max(.9rem, 1.3rem);
}
.nama-pelapor{
font-size: max(.9rem, 1.2rem);
}
.keterangan-pelapor{
	padding: .7%
}

/* end */

img.about {
	width: clamp(30px, 7%, 60px);
	padding: 0.5%;
}

.wave {
	background-color: var(--pallete1);
	background-size: cover;
}

/* versi/about page */
.row.text-center.justify-content-center.versi{
	margin: min(50%, 60%);
}

.row.text-center.justify-content-center.versi h1{
	font-size: 2rem;
}

.row.text-center.justify-content-center .card{
	border: none;
	background-color: rgba(0, 5, 0, 0);
}
#home-tab,#kontak-tab{
	font-size: calc(1vh + .8rem);
}

.whatsapp{
	position: relative;
	width: inherit;
	height: inherit;
}

.whatsapp >a> img{
	width : max(60px,15%);
	position: relative;
	left: 0;
	transition: 1s;
	z-index: 2;
}
.whatsapp::before{
	content: '083827468104';
	display: flex;
	height: 80%;
	align-items: center;
	position: absolute;
	transition: 1s;
	left: 0;
	z-index: -1;
	font-size: calc(1vw + 1rem);
}
.whatsapp:hover::before{
	left: max(100px,40%);
	transition: 1s;
	z-index: 1;
}
.blob {
	position: absolute;
	top: 0;
	left: 0;
	fill: var(--pallete2);
	width: 40vmax;
	z-index: -1;
	animation: move 9s ease-in-out infinite;
	transition: 1s;
	transform-origin: 50% 50%;
}

.blob1 {
	position: absolute;
	top: 90px;
	fill: var(--pallete2);
	width: 40vmax;
	z-index: -2;
	animation: move 9s ease-in-out infinite;
	transition: 1s;
	transform-origin: 50% 50%;
}

@keyframes move {
	0% {
		transform: scale(1) translate(10px, -30px) ;
	}

	38% {
		transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
	}

	40% {
		transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
	}

	78% {
		transform: scale(1) translate(0vw, 40vh) rotate(-40deg);
	}

	80% {
		transform: scale(.9,1) translate(0vw, 45vh) rotate(-20deg);
	}

	100% {
		transform: scale(1) translate(10px, -30px);
	}
}
/* end */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

	input#nomor.searchnomor {
		width: 55%;
	}

	.btn-cari {
		padding: .8%;
	}

	h1 {
		font-size: 1rem;
	}

	h3 {
		font-size: 0.9rem;
	}

	div.col-7.text-left .tglupload,
	.tglkejadian-pelapor {
		font-size: 0.7rem;
		margin-top: -10px;
	}

	div.col-7.text-left .nama {
		font-size: 1rem;
	}

	div.col-7.text-left .keterangan {
		font-size: 0.8rem;
		margin-top: 5px;
	}

	img.profil {
		margin-top: 6px;
		height: 30px;
		margin-left: -2px;
	}

	.whatsapp::before {
		content: '083827468104';
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		left: calc(1rem + .2vh);
		position: absolute;
		font-size: calc(1vw + 1rem);
	}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	h1 {
		font-size: 1.6rem;
	}

	h3 {
		font-size: 1.3rem;
	}

	img.profil {
		margin-top: 6px;
		margin-left: 6px;
		height: 50px;
	}

	.col-2 {
		max-width: 10.666667% !important;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

	.col-2 {
		max-width: 11.666667% !important;
	}

	div.col-7.text-left .nama {
		font-size: 1.7rem;
	}

	div.col-7.text-left .tglupload,
	.tglkejadian-pelapor {
		font-size: 0.8rem;
		margin-top: -10px;
	}

	img.profil {
		margin-top: 6px;
		height: 60px;
	}

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.col-2 {
		max-width: 6.666667% !important;
	}

	div.col-7.text-left .tglupload,
	.tglkejadian-pelapor {
		font-size: 0.7rem;
		margin-top: -10px;
	}

	.container.m-auto {
		width: 50%;
	}

	img.profil {
		margin-top: 6px;
		height: 47px;
	}
}
